<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab3oganyan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab3Oganyan">
        <activity android:name=".ex9"></activity>
        <activity android:name=".ex8" />
        <activity android:name=".ex7" />
        <activity android:name=".ex6" />
        <activity android:name=".ex5" />
        <activity android:name=".ex4" />
        <activity android:name=".ex3" />
        <activity android:name=".ex2" />
        <activity android:name=".ex1" />
        <activity android:name=".ex01" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>