[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=Lab6Oganyan
Exec=Lab6Oganyan
Name=Lab6Oganyan
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=Lab6Oganyan
